html, body {
    margin: 0;
    padding: 0;
}

img {
    width: 400px;
    height: 200px;
    margin: 100px auto 20px;
    display: block;
}

.button1 {
    width: 500px;
    height: 40px;
    border-radius: 50px;
    margin-left: 380px;
    background-color: #fff;
    border-width: 1px;
}

button {
    width: 100px;
    height: 50px;
    text-align: center;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    border-width: 1px;
}

.container1 {
    text-align: center;
    padding-top: 20px;
}

.container2 {
    text-align: center;
    padding-top: 20px;
}

.container2 p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.container3 {
    margin-top: 70px;
    background-color: lightgrey;
    width: auto;
    height: 60px;
}

.container3 p {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
    padding-top: 10px;
}

.container3 p span {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    clear: both;
    width: 100%;
    padding-top: 8px;
    
}